<h1>Editing Serial</h1>

 <ul class="t-menu horizontal compact">
  <li><a href="<%= url_for action: 'show', id: @serial.id %>"><span class="icon mif-lamp"></span> Show</a></li>
  <li><a href="<%= url_for serials_path %>"><span class="icon mif-chevron-left"></span> Back</a></li>
 </ul>
 <br>
 <br>

<%= render 'form' %>