<h1>New Serial</h1>

 <ul class="t-menu horizontal compact">
  <li><a href="<%= url_for serials_path %>"><span class="icon mif-chevron-left"></span> Back</a></li>
 </ul>
 <br>
 <br>
 
<%= render 'form' %>
