<h1>New Purchase Order</h1>

<ul class="t-menu horizontal compact">
  <li><a href="<%= url_for purchase_orders_path %>"><span class="icon mif-chevron-left"></span> Back</a></li>
</ul>
<br>
<br>

<%= render 'form' %>