<h1>New Oem Partner</h1>

<ul class="t-menu horizontal compact">
	<li><a href="javascript:history.back()"><span class="icon mif-chevron-left"></span> Back</a></li>
</ul>
<br>
<br>
<br>

<%= render 'form' %>