<h1>New Equipment</h1>

 <ul class="t-menu horizontal compact">
  <li><a href="<%= url_for equipment_index_path %>"><span class="icon mif-chevron-left"></span> Back</a></li>
 </ul>

 <br>

	<%= render 'form' %>