<h1>New Purchase Order Document</h1>

<ul class="t-menu horizontal compact">
  <li><a href="<%= url_for purchase_order_documents_path %>"><span class="icon mif-chevron-left"></span> Back</a></li>
</ul>
<br>
<br>

<%= render 'form' %>