<h1>New Specification</h1>

<ul class="t-menu horizontal compact">
  <li><a href="<%= url_for specifications_path %>"><span class="icon mif-chevron-left"></span> Back</a></li>
</ul>
<br>

<%= render 'form' %>