Dear Logistics,
<br>
<br>
Testing for the following equipment for Case: <%= @specification.case %> is complete:

<div class="grid">
  <div class="row cells2">
    <div class="cell">
		<ul>
		<% @specification.equipment.each do |spec| %>
			<li>
				<b><%= spec.model %>:</b> <br>
				Technician's Report:
				<p><%= spec.technician_report %></p>
			</li>
		<% end %>
		</ul>
    </div>
    <div class="cell">
    	<b>Specification:</b> <br>
		<p><%= image_tag attachments[@specification.avatar.original_filename].url %></p>
    </div>
  </div>
</div>

<address>inventory@fairgreenlimited.com</address>