	<p>Dear Support,</p>
	<h1><%= @equipment.model %> Warranty Status</h1>
	<p>Equipment: <%= @equipment.equipment_name %> (Model: <%= @equipment.model %>) warrant has expired.</p>
	<p>Expiry Date: <%= @equipment.specification.customer_Warranty_end %></p>