<div class="list">
  <div class="list-content">
      <span class="list-title"></span>
    <% if activity.trackable then %>
      <span class="list-remark"><%= activity.created_at.strftime("%-d %B, %Y %l:%M%P, %A") %></span>
      <span class="list-subtitle"><%= a.trackable.name %> signed in</span>
  	<% else %>
      <span class="list-remark"><%= activity.created_at.strftime("%-d %B, %Y %l:%M%P, %A") %></span>
  	  <span class="list-subtitle">Activity is no longer available</span>
  	  <span class="list-remark">It has been removed</span>
  	<% end %>
  </div>
</div>